.wrapper {
    height: 1000px;
}

.login-signup-container{
    background-image: linear-gradient(to left,#e2e0d1 ,#fafbf6 ,#e2e0d1);
    height: 500px;
    /* clip-path: polygon( 0 0, 100% 0, 100% 90%, 0 100%); */
}

.header {
    height: 100px;
    /* background-color: #BBB596; */
    /* min-width: 980px;
    padding: 0px 184px 0px 150px; */
}

.login-wrapper{
    /* background-color: blue; */
    height: 100px;
}

.logo {
    margin-left: 100px;
    margin-top: 20px;
    width: 100px;
}

.headline{
    margin-top: 50px;
}




.signup-container{
    height: 620px;
    color: darkgray;
}

.sec02{
    height: 400px;
}

.sec03{
    margin-top: 0px;
}

.ad{
    height:600px;
    width: 400px;
    margin-left: 100px;
}